@{
    ViewBag.Title = "Главная";
}
@model IEnumerable<TestTask.Models.User>

<table class="table" style="margin-top: 1rem">
    <thead style="">
    <tr>
        <td>Id</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Дата рождения</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr class="tr-body">
            <td class="userId">@user.Id</td>
            <td>@user.LastName</td>
            <td>@user.FirstName</td>
            <td>@user.Patronymic</td>
            <td>@user.Birthday.ToString("dd MMMM yyyy")</td>
        </tr>
    }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>

<script>
    const onContextMenu = document.oncontextmenu

    $(document).ready(function() {
        console.log('document is ready')
                
        $(document).mousedown(function (e) {
            if (e.target.className != 'tr-body' && e.target.parentElement?.className != 'tr-body'
                && e.target.parentElement?.parentElement?.parentElement?.className != 'context-menu'){
                $('.context-menu').remove();
                document.oncontextmenu = onContextMenu
            }
        })
        
        $('.tr-body').mousedown(function(event) {  
            document.oncontextmenu = function() {return false;};
            
            let userId = $(this).closest(".tr-body")   
                                   .find(".userId")     
                                   .text(); 
                        
            $('.context-menu').remove(); 
            if (event.which === 3)  {
                
                $('<div/>', {
                    class: 'context-menu' 
                })
                .css({
                    left: event.pageX+'px', 
                    top: event.pageY+'px' 
                })
                .appendTo('body') 
                .append( 
                    $('<ul/>')
                    .append(`<li><a href="/Home/ChangeUser?id=${userId}">Изменить</a></li>`)
                )
                .show('fast'); 
            }
        });
    });
    
</script>
<style>
    .context-menu {
      font-family: sans-serif;
      position: absolute; 
      display: none; 
      background-color: #333; 
      border: 1px solid #fff; 
      padding: 5px;
    
      -moz-box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
      -webkit-box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
      box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
      border-radius: .3rem;
    }
    
    .context-menu ul { list-style: none; margin: 0; padding: 0; }
    
    .context-menu ul li { margin: 0; padding: 0; background-color: #333; display: block; }
    
    .context-menu ul li a { color: #fff; text-decoration: none; font-size: 12px; display: block; padding: 5px; }
    
    .context-menu ul li a:hover { background-color: #222; }
</style>